<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <meta http-equiv="refresh" content="1; url='https://localhost:8080/auth/sign-up'" />-->
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../style/sign-in.css" />

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
    <title>Sign in</title>
</head>
<body>
<div class="center" id="app">
    <h1>Sign in</h1>
    <form method="post">
        <div class="txt_field">
            <input type="text" name="username" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a href="./sign-up" onclick="window.location.href='sign-up'" @click="toSignUp">Sign Up</a>
        </div>
    </form>
</div>
<script>
    new Vue({
            el: '#app',
            data() {
                return {}
            },
            methods: {
                toSignUp() {
                    this.$http.get(`https://localhost:8080/auth/sign-up`).then(
                        (resp) => {
                            console.log(`resp:`, resp)
                        });
                }
            }
        }
    )

</script>
</body>
</html>