<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/students.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
</head>
<body>

<div class="document-gen" id="app-main">
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" onclick=window.location.reload()>DTAS-PM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <hr class="dropdown-divider">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" aria-labelledby="offcanvasNavbarDropdown">
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#" ><label class="list-itemv">Your profile</label></a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#" ><label class="list-itemv" onclick="window.location.href='disciplines'">Your discipline lists</label></a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#" ><label class="list-itemv" onclick="window.location.href='plan-disciplines'">Your plan discipline lists</label></a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#" ><label class="list-itemv" onclick="window.location.href='students'">Your group lists</label></a>
                        </li>
                        <li class="nav-item"><hr class="dropdown-divider"></li>
                        <!--                        <li class="nav-item dropdown-item">-->
                        <!--                            <a class="nav-link active" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" v-on:click="show_main=false; show_about=true">-->
                        <!--                                <label class="list-itemv">Your profile</label>-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#" ><label class="list-itemv">Settings</label></a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#" ><label class="list-itemv">Help</label></a>
                        </li>
                        <!--                        <li class="nav-item">-->
                        <!--                            <div class="form-check form-switch">-->
                        <!--                                <input class="form-check-input component-active-color" type="checkbox" id="flexSwitchCheckDefault" onclick="document.body.classList.toggle('dark-theme')">-->
                        <!--                                <label class="form-check-label" for="flexSwitchCheckDefault">Dark theme</label>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                    </ul>

                    <!--                <form class="d-flex">-->
                    <!--                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">-->
                    <!--                    <button class="btn btn-outline-success" type="submit">Поиск</button>-->
                    <!--                </form>-->
                </div>
            </div>
        </div>
    </nav>
</div>
    <div class="table-user" id="users">
        <div class="control-panel-list-user">
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus"></i>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new student</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <form class="was-validated" method="POST">
                                <div class="mb-3">
                                    <label for="new-name-student" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="new-name-student" name="new-name-student" placeholder="ex: Иванов Вася"required>
                                    <div class="invalid-feedback">please enter name</div>
                                </div>
                                <div class="mb-3">
                                    <label for="new-login-student" class="form-label">Login</label>
                                    <input type="text" class="form-control" id="new-login-student" name="new-login-student" required>
                                    <div class="invalid-feedback">please enter login</div>
                                </div>
                                <div class="mb-3">
                                    <label for="new-email-student" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="new-email-student" name="new-email-student" placeholder="ivanov@mpei.ru" required>
                                    <div class="invalid-feedback">please enter email</div>
                                </div>
                                <div class="mb-3">
                                    <label for="new-group-student" class="form-label">Group</label>
                                    <input type="text" class="form-control" id="new-group-student" name="new-group-student" required>
                                    <div class="invalid-feedback">please enter group</div>
                                </div>
                                <div class="mb-3">
                                    <label for="student-institute" class="form-label">Institute</label>
                                    <select class="form-select" name="new-institute-student" id="student-institute" aria-label="Select institute"  required>
                                        <option value="" disabled selected>Choose institute</option>
                                        <option value="ЭнМИ">ЭнМИ</option>
                                        <option value="ИТАЭ">ИТАЭ</option>
                                        <option value="ИЭВТ">ИЭВТ</option>
                                        <option value="ИЭТЭ">ИЭТЭ</option>
                                        <option value="ИЭЭ">ИЭЭ</option>
                                        <option value="ИВТИ">ИВТИ</option>
                                        <option value="ИРЭ">ИРЭ</option>
                                        <option value="ВИИ">ВИИ</option>
                                        <option value="ИГВИЭ">ИГВИЭ</option>
                                        <option value="ИнЭИ">ИнЭИ</option>
                                        <option value="ГПИ">ГПИ</option>
                                        <option value="ИДДО">ИДДО</option>
                                    </select>
<!--                                    <input class="form-control" list="datalistInstitute" id="student-institute" placeholder="Type to search..." name="new-institute-student" required>-->
<!--                                    <datalist id="datalistInstitute">-->
<!--                                        <option value="San Francisco">-->
<!--                                        <option value="New York">-->
<!--                                        <option value="Seattle">-->
<!--                                        <option value="Los Angeles">-->
<!--                                        <option value="Chicago">-->
<!--                                    </datalist>-->
                                    <div class="invalid-feedback">please select institute</div>
                                </div>
<!--                                <div class="mb-3">-->
<!--                                    <label for="group-discipline" class="form-label">Group</label>-->
<!--                                    &lt;!&ndash;                                <input type="text" class="form-control" id="group-discipline" name="new-groups-discipline">&ndash;&gt;-->
<!--                                    <select class="form-select" name="new-groups-discipline" id="group-discipline" aria-label="Select group"  required>-->
<!--                                        <option value="" selected></option>-->
<!--                                        {{range $index, $value := .groups}}-->
<!--                                        <option value="{{$value.Name}}">{{$value.Name}}</option>-->
<!--                                        {{ end }}-->
<!--                                        &lt;!&ndash;                                    <option value="А-05-18">А-05-18</option>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                    <option value="ИЭ-01-20">ИЭ-01-20</option>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                    <option value="ИЭ-02-19">ИЭ-02-10</option>&ndash;&gt;-->
<!--                                    </select>-->
<!--                                    <div class="invalid-feedback">please select group</div>-->
<!--                                </div>-->
                                <button class="btn btn-outline-primary" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn"><i class="fa fa-pencil"></i></button>
            <button class="btn"><i class="fa fa-trash"></i></button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col1" scope="col" >id</th>
                <th class="col2" scope="col" >FullName</th>
                <th class="col3" scope="col" >Login</th>
                <th class="col4" scope="col" >Email</th>
                <th class="col4" scope="col" >Institute</th>
                <th class="col3" scope="col" >Group</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $value := .students}}
            <tr>
                <th scope="row">{{ $index }}</th>
                <td>{{ $value.FullName}}</td>
                <td>{{ $value.Login}}</td>
                <td>{{ $value.Email}}</td>
                <td>{{ $value.Institute}}</td>
                <td>{{ $value.Group}}</td>
<!--                <td><button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                        <a class="dropdown-item" href="#">Edit</a>-->
<!--                        <a class="dropdown-item" href="#">Delete</a>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

<script type="text/javascript" src="../js/profile.js" ></script>
<script>
    new Vue({
            el: '#app',
            data() {
                return {
                    disciplineIndex: '',
                    students: [],
                    groups: [],
                    tasks: [],
                    endpoint: {name:'', task:'', date:''},
                    event: {endpoints:[]},
                }
            },
            computed: {
                disciplineName: function () {
                    return this.disciplines[this.disciplineIndex].name
                },
                disciplineGroup: function () {
                    return this.disciplines[this.disciplineIndex].group
                },
                discipline: function () {
                    return this.disciplines[this.disciplineIndex]
                }

            },
            created() {
                this.$http.get(`https://localhost:8080/api/teacher/disciplines/all`).then(
                    (resp) => {
                        console.log(`resp:`, resp.data)
                        //console.log(`resp-event:`, resp.data.disciplines[0].event)
                        this.disciplines = resp.data.disciplines
                        this.groups = resp.data.groups
                    });
            },
            methods: {
                addTask() {
                    //  this.tasks = this.discipline[this.disciplineIndex].endpoint
                    // this.tasks.push()
                },
                addEndpoint() {
                    if (typeof(this.disciplines[this.disciplineIndex].event) == 'undefined') {
                        this.disciplines[this.disciplineIndex].event = {}
                    }
                    this.event = this.disciplines[this.disciplineIndex].event
                    this.event.endpoints.push(this.endpoint)
                },
                deleteDiscipline() {

                    //  let currentURL = new URL(window.location.href + '/')
                    // currentURL.searchParams.set('id', this.disciplineIndex)
                    let indexDiscipline = this.disciplines[this.disciplineIndex].id
                    this.disciplines.splice(this.disciplineIndex, 1)
                    this.$http.post(window.location.href + '/' + indexDiscipline).then(
                        (resp) => {
                            console.log(`resp:`, resp)
                        });

                }
            }
        }
    )

</script>
</body>
</html>